body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:grey url(./chat.jpeg);

    /*here*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    height: 80vh;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.chat-header{
    background-color: lightgrey;
    color: black;
    padding: 15px;
    text-align: center;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.user-message {
    background-color: #1fdec4;
    color: black;
    align-self: flex-end;
}

.bot-message {
    background-color: #e0e0e0;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 15px;
    border: none;
    background-color: #1fdec4;
    color: #333333;
    border-radius: 5px;
    cursor:pointer;
}

.chat-input button:hover {
    background-color: #333333;
    color: #1fdec4;
}
